Implement multipart form request parser

@dfirsht - Nice work!  I know this is still work in progress, but in my testing I have seen one issue I wanted to pass along.

If the parts of a POST include a Content-Length header field, the line containing the Content-Length is included in the part data.  I the example below, there are 2 Parts:

The "requestid" part is .text and includes:
```
Content-Length: 36

180325d6-f3de-42e3-a0c6-56e72800c02c
```
The "file" part is returned as .raw instead of .json and also includes the Content-Type in the returned NSData.
```
POST /example HTTP/1.1
Content-Type: multipart/form-data;boundary=BOUNDARY-EXAMPLE

--BOUNDARY-EXAMPLE
Content-Disposition: form-data; name="requestid"
Content-Type: text/plain;charset=ISO-8859-1
Content-Length: 36

180325d6-f3de-42e3-a0c6-56e72800c02c
--BOUNDARY-EXAMPLE
Content-Disposition: form-data; name="file"; filename="message.json"
Content-Type: application/json
Content-Length: 44

{"result": 1, "date": "2016-05-18 12:02:03"}

--BOUNDARY-EXAMPLE--

```
I don't have a suggested fix, but will be looking into it today.

Thanks for the feedback, @dsperling. I implemented this parser following the protocol as described here: http://www.faqs.org/rfcs/rfc2388.html. It is my understanding that `Content-Length` can not be specified in the parts themselves and instead the total `Content-Length` should be set in the request headers. Can you point me to some documentation that shows otherwise?

I found this issue when integrating a web service API from a partner company.  It is possible that the partner's web service implementation is out of spec.

I will take a look for documentation on the headers.  I guess this issue would be a problem if a developer inserted any arbitrary header as well.

Content-Type indeed should not be included, nor should be evaluated.  However, the specification does allow for custom headers.  Here are the relevant sections of RFC 238 and 2046:
```
RFC 2388

3. Definition of multipart/form-data

   The media-type multipart/form-data follows the rules of all multipart
   MIME data streams as outlined in [RFC 2046]. 


RFC 2046

5.1.  Multipart Media Type

   ...
   After its boundary delimiter line, each body part then consists of a
   header area, a blank line, and a body area.  ...

   ...  A body part that starts with a
   blank line, therefore, is allowed and is a body part for which all
   default values are to be assumed.  ...

   The only header fields that have defined meaning for body parts are
   those the names of which begin with "Content-".  All other header
   fields may be ignored in body parts.  ...
   Such other fields are permitted to appear in body parts
   but must not be depended on.  "X-" fields may be created for
   experimental or private purposes, with the recognition that the
   information they contain may be lost at some gateways.
```
The fix is straightforward.  Simply skip any header not directly supported and stop header processing on a blank line.   This change fixes the issue I have with a malformed POST request that incorrectly includes Content-Length.

I have proposed fix and new test case written which I will submit as a PR as soon as I can.

See PR #502

@dfirsht I looked over the code. To me it looks ok. I do think we need to review @dsperling's PR.

I do think it could be improved performance wise. I think there are still too many conversions from UTF-8 to String (see the issue brought up by @djones6 and what his work around did). Also I think a better "binary" split function needs to be written.

@shmuelk I agree that this is not the most optimal it can be, my goal was to take a first stab at this and iterate later. We can certainly discuss optimization strategies in the future.

Ok for now then